body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

button {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 border: 2px solid white;
 border-radius: 10px;
    position: absolute;
    cursor: pointer;
    margin: 200px;
    padding: 10px;
    font-size: 16px;
}

button:hover{
    background-color: rgb(238, 238, 114);

}
#t1{
    color: white;
    font-size: 50px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#stopButton{
    top: 100px;
}

#playButton{
    top: 200px;
}

#recordButton:hover, #playButton:hover, #stopButton:hover{
    background-color: rgb(238, 238, 114);
}

#contain{
    position: absolute;
    top: 200px;
    left: 568px;
    border: 2px solid grey;
    height: 300px;
    width: 230px;
    border-radius: 10px;
}

#contain2{
    position: absolute;
    top: 520px;
    left: 490px;
    border: 2px solid grey;
    height: 100px;
    width: 400px;
    border-radius: 10px;
}

#demon{
    position: absolute;
    font-size: 40px;
    top: 335px;
    left: 350px;
}

#low{
    position: absolute;
    font-size: 40px;
    top: 335px;
    left: 550px;
}

